html {
  font-size: 10px;
}
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(32, 31, 31, 0.87);
  background-color: #f0eaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: rgba(32, 31, 31, 0.87);
}

body {
  font-family:  Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
